@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    transition: all 0.2s linear;
    transition: width none;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
#home {
    margin-top: -30px;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url(/images/8.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    bottom: 0;
    left: 0;
    right: 0;
}
.header {
    z-index: 5;
}
.content h2 {
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 35px;
    color: #a6acaf;
    text-align: right;
    margin-top: 30px;
    padding-top: 205px;
    letter-spacing: 8px;
    margin-right: 20px;
    text-shadow: 1px 1.5px rgb(166, 172, 175);
}
.content h1 {
    text-align: right;
    font-size: 55px;
    color: #005ce6;
    padding-top: 15px;
    margin-top: 10px;
    margin-right: 20px;
}
.content p {
    margin-left: 850px;
    font-size: 20px;
    margin-right: 20px;
    text-align: right;
    margin-top: 20px;
    padding-bottom: 125px;
}
.header .header-first {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #005ce6;
    font-size: 25px;
    position: fixed;
}
.header .header-first .logo img {
    width: 224px;
    height: 60.93px;
}

.header .header-first .search-form {
    background: #fff;
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1.6px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header .header-first .search-form input {
    font-size: 20px;
    padding: 0 19px;
    text-transform: none;
    color: #000;
    height: 100%;
    width: 100%;
}

.header .header-first .search-form label {
    font-size: 20px;
    color: #000;
    padding-right: 24px;
    cursor: pointer;
}
.header .header-first .search-form label:hover {
    color: #a6acaf;
}
.headin-tes {
    display: flex;
    justify-content: center;
    color: #a6acaf;
    margin-top: 20px;
    font-size: 35px;
}
.header .header-first .icons div,
.header .header-first .icons a {
    font-size: 25px;
    cursor: pointer;
    color: #000;
    margin-left: 15px;
}

.header .header-first .icons div:hover,
.header .header-first .icons a:hover {
    color: #fff;
}
#search-btn {
    display: none;
}
.header .header-first {
    color: #005ce6;
    position: fixed;
    width: 100%;
}

.header .navbar a {
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}
.header .navbar a:hover {
    background: #e5e7e9;
    color: #005ce6;
    text-decoration: underline;
}
.heading {
    color: #a6acaf;
}
.bottom-nav {
    text-align: center;
    color: #005ce6;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.bottom-nav a {
    font-size: 25px;
    color: #fff;
    padding: 16px;
}
.bottom-nav a:hover {
    background: #fff;
    color: #005ce6;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: -105%;
}
.login-form .active {
    right: 0;
}
.login-form form {
    border: 2px solid #1f618d;
    border-radius: 0.5px;
    box-shadow: 2px 3px rgba(36, 113, 163, 1);
    background: #fff;
    width: 400px;
    margin-top: 150px;
    padding: 16px;
}
.login-form form h3 {
    font-size: 25px;
    color: #005ce6;
    text-align: center;
    text-transform: uppercase;
}
.login-form form span {
    display: block;
    font-size: 15px;
    padding-top: 10px;
}
.login-form form .placeholder {
    font-size: 16px;
    border: #a6acaf;
    border-radius: 5px;
    color: #000;
    padding: 20px;
    margin-top: 10px;
    text-transform: none;
    width: 100%;
}
.login-form form .checkbox {
    display: flex;
    align-items: center;
    padding: 5px;
}
.login-form form .checkbox label {
    font-size: 15px;
    color: #005ce6;
    cursor: pointer;
}
.login-form form .btn {
    text-align: center;
    width: 100%;
    margin: 5px;
}
.login-form form p {
    padding-top: 8px;
    color: #000;
    font-size: 16px;
}
.login-form form p a {
    color: #2874a6;
    text-decoration: underline;
}
.login-form #close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: #000;
    cursor: pointer;
}
.btn {
    margin-top: 25px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005ce6;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-shop {
    display: flex;
    justify-content: center;
}
.btn:hover {
    background: #aed6f1;
    color: #005ce6;
}

.heading {
    text-align: center;
    color: rgb(21, 67, 96);
    font-size: 32px;
    padding: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(33, 97, 140, 1);
}

.sub-heading {
    text-align: center;
    color: #005ce6;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(33, 97, 140, 1);
}
.clothes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}
.clothes .box-container .box {
    padding: 2.5rem;
    background-color: #fff;
    border: 1px solid #1a5276;
    border-radius: 4px;
    box-shadow: 5px 4px rgba(26, 82, 118, 0.3);
    position: static;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
}

.clothes .box-container .box .fa-heart,
.clothes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #d4e6f1;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #005ce6;
}
.clothes .box-container .box .fa-heart:hover,
.clothes .box-container .box .fa-eye:hover {
    background-color: #005ce6;
    color: #d4e6f1;
}

.clothes .box-container .box .fa-heart {
    right: -15rem;
}
.clothes .box-container .box .fa-eye {
    left: -15rem;
}

.clothes .box-container .box:hover .fa-heart {
    right: 1.5rem;
}
.clothes .box-container .box:hover .fa-eye {
    left: 1.5rem;
}
.clothes .box-container .box img {
    height: 30rem;
    margin: 1rem 0;
}
.clothes .box-container .box h3 {
    color: #000;
    font-size: 2.5rem;
}
.clothes .box-container .box h4 {
    color: #424949;
    font-size: 2rem;
}
.clothes .box-container .box select {
    padding: 5px;
    font-size: 2rem;
    color: #005ce6;
    font-weight: bolder;
}

.clothes .box-container .box p {
    color: #005ce6;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 1px 1px rgba(93, 173, 226);
}

.about .about-slider .cont {
    margin: 2rem 0;
    width: 30rem;
    border: 0.1rem solid rgba(21, 67, 96, 0.3);
    box-shadow: 2px 3px rgba(36, 113, 163, 0.3);
}
.about .about-slider .cont:hover {
    border: 0.1rem solid rgba(21, 67, 96, 1);
}
.about .about-slider .cont.image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}
.about .about-slider .cont.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about .about-slider .cont:hover .image img {
    transform: scale(1.1);
}
.about .about-slider .cont.info {
    padding: 2rem;
}
.about .about-slider .cont.info h3 {
    font-size: 2.2rem;
    font-weight: bolder;
    color: #000;
}
.about .about-slider .cont.info p {
    font-size: 1.4rem;
    color: #005ce6;
    padding: 1rem 0;
    line-height: 3;
}
.clothes {
    z-index: -1;
}
.footer .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.footer .footer-container .loc a {
    display: block;
    font-size: 1.4rem;
    color: #1b2631;
    padding: 1rem 0;
    margin-left: 2rem;
}
.footer .share {
    text-align: center;
}
.footer .share .fab {
    color: #005ce6;
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
}
.footer .share .fab:hover {
    color: #3498db;
}
.footer .made {
    border-top: 1px solid #15317e;
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    color: #005ce6;
    text-align: center;
}

.hover-animation {
    position: static;
    height: 300px;
    width: 300px;
    margin: 15px;
    display: inline-block;
    overflow: hidden;
}
.swiper .slide-box {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.image-one {
    max-width: 562px;
    width: 100%;
    font-size: 0;
}
.image-second {
    max-width: 562px;
    width: 100%;
    font-size: 0;
}
.image-third {
    margin-left: -20%;
    max-width: 562px;
    width: 100%;
    font-size: 0;
}
.image-fourth {
    margin-left: 25%;
    max-width: 562px;
    width: 100%;
    font-size: 0;
}
.image-five {
    margin-left: -15%;
    max-width: 562px;
    width: 100%;
    font-size: 0;
}
.info-bur {
    text-transform: uppercase;
    font-size: 40px;
    color: #a6acaf;
    margin-left: 20px;
}
.info-burl {
    text-transform: uppercase;
    font-size: 40px;
    color: #a6acaf;
    margin-right: 20px;
}
.info-bre {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.info-brex {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.info-burg {
    text-transform: uppercase;
    font-size: 40px;
    color: #a6acaf;
    margin-left: 20px;
}
.info-bura {
    text-transform: uppercase;
    font-size: 40px;
    color: #a6acaf;
    margin-left: 40px;
}
.info-banke {
    font-size: 20px;
    margin-top: 20px;
    list-style-type: none;
    margin-left: 40px;
}
.info-bank {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    list-style-type: none;
}
.info-burk {
    text-transform: uppercase;
    font-size: 40px;
    color: #a6acaf;
    margin-left: -70px;
}
.info-bret {
    font-size: 20px;
    margin-top: 20px;
    margin-left: -70px;
    list-style-type: none;
}
.btn-des {
    margin-left: 40%;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005ce6;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-dek {
    margin-left: 20%;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005ce6;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-chet {
    margin-left: 30%;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005ce6;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-sel {
    margin-left: 35%;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005ce6;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.button-read {
    margin-top: 70px;
}
.sub-heading {
    font-size: 40px;
    color: #005ce6;
    margin-left: 20px;
}
.share {
    text-decoration: none;
}
.towns {
    text-decoration: none;
}
.heading-tesi {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #a6acaf;
    font-size: 35px;
}
@media (max-width: 992px) {
    html {
        font-size: 45%;
    }

    .header .header-first {
        padding: 25px;
    }
    .clothes .box-container .box img {
        height: auto;
        width: 100%;
    }

    .content h2 {
        font-size: 30px;
        margin-top: 15px;
        letter-spacing: 6px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .content h1 {
        font-size: 40px;
        color: #005ce6;
        margin-top: 10px;
        margin-right: 20px;
    }
    .content p {
        margin-left: 200px;
        font-size: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .header .navbar {
        display: none;
    }
    body {
        padding-bottom: 50px;
    }
    .bottom-nav {
        display: block;
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-first {
        box-shadow: rgb(133, 193, 233);
        position: relative;
    }
    .header .header-first .logo img {
        width: 240px;
        height: 65.2px;
    }
    .header .header-first .search-form {
        position: absolute;
        top: -115%;
        right: 30px;
        width: 50%;
        box-shadow: rgb(133, 193, 233);
    }
    .header .header-first .search-form.active {
        top: 115%;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 45%;
    }

    .header .header-first {
        position: fixed;
    }
    .btn {
        margin-top: 5px;
        padding: 5px;
        border-radius: 2px;
        font-size: 15px;
    }

    .fab {
        border-radius: 2px;
        color: #005ce6;
        font-size: 45px;
        cursor: pointer;
    }
}
